<!Doctype html>
<html>
<head>
    <title> Home </title>

  <link rel="stylesheet" href="/styles/home-style.css" media="screen" title="no title" charset="utf-8">
</head>
<body>
<h1> home page </h1>
<button id="useGeolocation">Use My Location</button>
<input type="text" id="inputCity">
<p> Pick a restaurant category</p>
<select id="selectCategory">
  <option id="select" value="0">Select</option>
  <option id="cafe" value="6">Cafe</option>
  <option id="breakfast" value="8">Breakfast</option>
  <option id="breakfast" value="9">Lunch</option>
  <option id="dinner" value="10">Dinner</option>
  <option id="pubs/bars" value="11">Pubs/Bars</option>
</select>
<div id="questions-container">

</div>
<button id="submit">Submit</button>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2pDiGU9PjqQheeVvFvAefz7qgOCipwbA&libraries=places&callback=initMap"></script>
<script src="/js/geolocate.js"></script>
<script src="/js/index.js"></script>
<script src="/js/questions.js"></script>
</body>

