<h1> home page </h1>
<button id="useGeolocation">Use My Location</button>
<input type="text" id="inputCity">
<div id="questions-container">

</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA2pDiGU9PjqQheeVvFvAefz7qgOCipwbA&libraries=places&callback=initMap"></script>
<script src="/js/geolocate.js"></script>
<script src="/js/index.js"></script>
<script src="/js/questions.js"></script>


