<div id="name-tag-wrap">
    <div id="app-name-border">
        <h1 id="app-name"> CHEWZY </h1>
    </div>
    <p id="tag">  take a short quiz and find a new place to eat</p>
</div>

<div id="btns-wrap-image">
  <div id="btn-wrap-color">
      <div id="log-in-directions">
          <p> log in if you want to save favorite restaurants</p>
      </div>
      <div id="btn-wrap-position">
       <a  href="/login"><button class="btns-style">login</button></a>
       <a  href="/home"><button class="btns-style">skip</button></a>
    </div>
  </div>
  
</div>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDALEDZEiYigQP5PoYBp5OwUe6mtmT3S4A&callback=initMap"></script>
