
  <div id="wrap-all">
<div id="name-tag-wrap">
    <div id="app-name-border">
        <h1 id="app-name"> CHEWZY </h1>
    </div>
    <p id="tag">  take a short quiz and find a new place to eat</p>
</div>


<div id="btns-wrap">
  
  <div id="btn-wrap-color">
      
      <div id="log-in-directions">
          <p> log in if you want to save favorite restaurants</p>
      </div>
      <div id="btn-wrap-position">
        <a  href="/login"><button class="btns-style">login</button></a>
      </div>
         <a  href="/user"><button class="btns-style-skip"><span id="skip">skip</span></button></a>
      </div>
          {{!-- <div id="about">
       <p> Does the question "Where do you want to eat tonight?" scary you, because you might drown in countless "i don't knows"?  Then Chewzy is for you! Answer 5 questions  and get restaurant suggestions in seconds. Unhappy with the quiz results? Pick a place at random. We account for your mood and establishment preferences. Don't go hungry tonight because of indecisiveness, just use Chewzy!</p>
   </div> --}}
  <div class="grid-container">
  <div class="grid-item" id="grid-one"></div>
  <div class="grid-item" id="grid-two"></div>
  <div class="grid-item" id="grid-three"></div>
  <div class="grid-item" id="grid-four"></div>
  <div class="grid-item" id="grid-five"></div>
  <div class="grid-item" id="grid-six"></div>
  <div class="grid-item" id="grid-seven"></div>
  <div class="grid-item" id="grid-eight"></div>
  <div class="grid-item" id="grid-nine"></div>
</div>
   </div>

 <div class="push"></div>

<footer>
    <div>
        <p id="footer"> made by <a class="github-link" href="https://github.com/oserenchenko" targe="_blank">Olga</a> and <a  class="github-link"href="https://github.com/innaleikina" targe="_blank">Inna</a> using Zomato</p>
    </div>
</footer>
</div>

