<h1> CHEWZY </h1>
<p> take a short quiz and find a new place to eat</p>

<a href="/login"><button>login</buton></a>
<a href="/home"><button>skip</button></a>
<p>you won't be able to save favorites without logging in</p>

<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/index.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDALEDZEiYigQP5PoYBp5OwUe6mtmT3S4A&callback=initMap"></script>
