<h1> CHEWZY </h1>
<p> take a short quiz and find a new place to eat</p>

<a href="/login"><button>login</buton></a>
<a href="/home"><button>skip</button></a>
<p>you won't be able to save favorites without logging in</p>


