#address-favorites{
    color:white;
    font-weight:lighter;
}

#favorites-phone{
    color:orange;
    /* margin-bottom:30px; */
}

.one-fave-wrap{
    padding:10px;
    padding-bottom:30px;
    border-bottom:1px white solid;
    border-top:1px white solid;
}

#favorites-h1{
    font-variant: small-caps;
    color:white;
    font-weight:lighter;
    letter-spacing:1px;
    margin-bottom:20px;
}

#favorites-rating{
    color:white;
    font-weight:lighter;
}

#favorites-number{
    color:white;
    font-weight:bold;
}

#website-name-wrap{
    display:flex;
    justify-content:space-between;
    /* border:1px red solid; */
    align-content:center;
}

#favorites-name{
    padding-top:10px;
    margin:0;
    /* border:1px green solid; */
}

#favorites-price{
    color:white;
}

#favorites-user-email{
    font-variant: normal;
    text-transform:lowercase;
    font-size:12px;
}

#favorites-cuisines{
    color:orange;
    margin-top:-10px;
    margin-bottom:10px;
}