#wrap-all {
    display: block;
    position: relative;
}

#wrap-all::after {
    height: 100%;
    content: "";
    background-image: url("../images/home-page.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
}

.user{
    color:white;
    text-align:right;
    padding-right:20px;
    /* border:1px red solid; */
}

label {
    color: white;
    font-size: 14px;
}

.useGeolocation {
    margin-top: -40px;
    border:1px gray solid;
    color:gray;
    box-shadow:none;
    background-color:white;
    /* margin-top: 10px; */
    margin-bottom: 5px;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    transition:all .2s linear;
}

.useGeolocation:focus{
    outline:0;
}

#questions-container {
    margin-top: 20px;
    /* border: 1px red solid; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:300px;
    margin: 0 auto;
}

.question-option {
    display: flex;
    flex-direction: row;
    margin-bottom: 20px;
    margin-top: 5px;
    border-bottom: 1px white solid;
    width: 300px;
    align-content: center;
    align-items: center;
    height: 80px;
}

.one-question {
    margin-right: 10px;
    width: 250px;
    color: white;
    font-size: 14px;
}

#number-select {
    -webkit-appearance: menulist-button;
    border: .8px orange solid;
    padding: 5px;
    height: 25px;
}

#location {
    /* border: 1px red solid; */
    margin: 0 auto;
    margin-top: 50px;
    width: 280px;
    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;
}

#wrap-user-input {
    border: 3px white solid;
    border-radius: 10px;
    width: 350px;
    margin: 0 auto;
    padding: 25px;
    padding-top:0px;
    margin-top: 20px;
    background-color: rgba(0, 0, 0, 0.6);
    margin-bottom: 20px;
}

#input-wrap {
    /* border-top: 1px white solid; */
    padding-top: 10px;
    border-bottom: 1px white solid;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#inputCity {
    height: 30px;
    border-radius: 5px;
    border: 1px orange solid;
}

input:focus {
    outline: 0;
}

#category-drop-down {
    margin: 0 auto;
    width: 350px;
    border-top: 1px white solid;
    border-bottom: 1px white solid;
    text-align: center;
    margin-top: 10px;
    padding: 5px;
}

#directions-category {
    color: white;
    font-weight: bold;
    letter-spacing: 1px;
}

#category-select {
    height: 35px;
}

select {
    color: black;
    padding: 5px;
    -webkit-appearance: menulist-button;
    border: .8px orange solid;
    padding: 5px;
    font-weight: bold;
}

select:focus {
    outline: 0;
}



.big-button {
    margin-top: 10px;
    margin-bottom: 5px;
    letter-spacing: 1px;
    display: block;
    margin: 0 auto;
    width: 150px;
    height: 40px;
    border-radius: 5px;
    background-color: orange;
    color: white;
    border:1px solid white;
    transition:all .2s linear;
}

.big-button:focus{
    outline:0;
}

.big-button:hover{
    border-color:orange;
    color:orange;
    background-color:white;
}

.big-button:active{
    border-color:white;
    color:white;
    background-color:rgba(0,0,0,0);
}

#logout-button{
    float: right;
    margin-right:10px;
    width:100px;
    background-color:white;
    color:orange;
    border:1px orange solid;
    cursor:pointer;
}

#logout-button:hover{
    color:white;
    background-color:orange;
}

#logout-button:active{
    border:none;
    background-color:rgba(0,0,0,0);
}

#favorites-button{
    border:1px red solid;
    float: left;
    margin-left:10px;
    background-color:white;
    color:orange;
    border:1px orange solid;
    width:130px;
    cursor:pointer;
}

#favorites-button:hover{
    color:white;
    background-color:orange;
}

#favorites-button:active{
    border:none;
    background-color:rgba(0,0,0,0);
}

.fa-home{
    color:orange;
    text-align:center;
    border:1px orange solid;
    margin:0 auto;
    display:block !important;
    width:40px;
    padding:5px;
    border-radius:5px;
    box-shadow:1px 1px 1px rgba(0,0,0,0.4);
    text-align:center !important;
    margin-top:-30px;
    padding-top:10px;
    font-size:20px;
    transition:all .2s linear;
}

.fa-home:hover{
    text-decoration:none;
    text-decoration-color:white;
    background-color:orange;
    color:white;
}

.fa-home:active{
    box-shadow:none;
}