html {
    font-size: 12px;
    font-family: "Helvetica";
}

#home-img {
    background-image: url("../images/table.jpeg");
}

#name-tag-wrap {
    padding-top: 20px;
    padding-bottom: 20px;
    /* border:1px black solid; */
    box-shadow: 3px 3px 3px black;
    background-color: white;

}

#app-name {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    color: rgba(80, 80, 80, 1);
    border-top: 1px gray solid;
    border-bottom: 1px gray solid;
    color: orange;
}

#app-name-border {
    width: 300px;
    margin: 0 auto;
    padding: 30px auto;
    /* border:1px red solid; */
}

#tag {
    text-align: center;
    text-transform: uppercase;
    font-size: 11px;
    margin-top: -20px;
}

#btns-wrap {
    width: 400px;
    height: 100vh;
    /* border: 1px rgba(0, 0, 0, 0) solid; */
    background-color: rgba(0, 0, 0, 0.5);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    justify-items: center; */
    align-content: center;
    align-items: center;
    padding-bottom: 40px;
    margin: 50px auto;
    border: 3px white solid;
    /* border:1px red solid; */
}

#btn-wrap-color {
    display: flex;
    flex-direction: column;
    margin: auto;
    /* border:1px red solid; */
    width: 100%;
}

#btn-wrap-position {
    justify-content: space-around;
    margin: 0 auto;
    display: flex;
    width: 280px;
    /* border:1px red solid; */
}

#log-in-directions {
    background-color: rgba(255, 255, 255, 1);
    color: orange;
    text-align: center;
    margin: 0 auto;
    margin-top: 30px;
    font-size: 12px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    letter-spacing: .7px;
    padding: 10px;
    padding-top: 15px;
    margin-bottom: 10px;
    height: 50px;
    /* border:1px red solid; */
}

.btns-style {
    display: block;
    padding: 10px;
    color: white;
    font-weight: bold;
    font-size: 14px;
    width: 100px;
    border-radius: 5px;
    box-shadow: 2px 3px 2px #00000080;
    border: 1px white solid;
    background-color: orange;
    /* border:1px red solid; */
    margin-top: 10px;
    /* margin-bottom:20px */
}

.btns-style-skip {
    color: orange;
    /* font-weight: bold; */
    font-size: 14px;
    background-color: rgba(255, 255, 255, 0);
    border: 0px red solid;
    box-shadow: none;
    margin: 0 auto;
    display: block;
    margin-top:20px;
    padding: 10px;
    /* border: 1px orange solid; */
    border-radius: 5px;
}

#skip {
 
    border-bottom: 1px orange solid;
    color: orange;
    cursor:pointer;
}

.btns-style:focus {
    outline: 0;
}

.btns-style-skip:focus {
    outline: 0;
}

#skip:hover {
    color:white;
}

.btns-style:hover {
    background-color: rgba(255, 255, 255, 1);
    border: 1px orange solid;
    text-decoration: none;
    color: orange;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    height: 400px;
    width: 100%;
    /* padding:25px; */
    margin: 0 auto;
    margin-top: 50px;
    display: grid;
    /* grid-column-gap: 2px;
    grid-row-gap: 2px; */
}

.grid-item {
    background-color: rgba(255, 255, 255, 0.8);
    /* border: 1px solid rgba(0, 0, 0, 0.8); */
    padding: 20px;
    font-size: 20px;
    text-align: center;
    background-size: cover;
    opacity: .9;
}

#grid-one {
    background-image: url("../images/table.jpeg");
}

#grid-two {
    background-image: url("../images/table-2.jpeg");
}

#grid-three {
    background-image: url("../images/table-3.jpeg");
}

#grid-four {
    background-image: url("../images/table-4.jpeg");
}

#grid-five {
    background-image: url("../images/table-5.jpeg");
}

#grid-six {
    background-image: url("../images/table-6.jpeg");
}

#grid-seven {
    background-image: url("../images/table-7.jpeg");
}

#grid-eight {
    background-image: url("../images/table-8.jpeg");
}

#grid-nine {
    background-image: url("../images/table-9.jpeg");
}

.push {
    margin-bottom: 10px;
}

#footer {
    background-color: white;
    margin: 0;
    height: 50px;
    padding-top: 10px;
    text-align: center;
    color: rgba(80, 80, 80, 1);
}

.github-link {
    color: orange;
}