#one-result-address{
    color:white;
    margin-bottom:10px;
    font-weight:lighter;
}

#one-result-name{
    font-size:16px;
    margin-top:25px;
 }

#one-result-cuisine{
   color:orange;
   margin-bottom:10px;
}

.phoneNum{
    color:orange;
    /* font-weight:bold; */
}

.priceLevel{
    color:white;
}

#favorite-website-wrap{
    margin-top:30px;
    display:flex;
    width:100%;
    padding:5px;
    justify-content:space-between;
}

#favorite{
    border-radius:10px;
    padding:10px;
    border:1px white solid;
    background-color: rgba(0,0,0,0);
    color:white;
}

.website{
    color:orange;
    text-decoration: underline;
    padding:10px 0 10px 10px;
}

.website:hover{
    color:white;
}

.photoUrl{
    border-radius:10px;
    margin-top:20px;
   /* border:1px white solid; */
   /* width:200px; */
   /* margin: 20px auto; */
   display:block;
   max-width:100%;
   max-height:100%;
   border:1px white solid;
   padding:2px;
}


.image-wrap{
    /* width:200px; */
    /* margin: 20px auto; */
    display:block;
   
    width:100%;
    border-radius:10px;
}